@import "../../styles/global.scss";

//CART
.backgroundCart {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  padding: 55px 0 55px 0;

  @media (max-width: 768px) {
    background-color: white;
    gap: 0;
    padding: 0;
  }

.a {
  width: 335px;
  height: 255px;
  margin-bottom: 25px;
  text-decoration: none;
}

  .cart {
    width: 100%;
    
    @media (min-width: 768px) {
      width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    }
      
      

    }
  
  
   p {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 5px 15px;

    @media (max-width: 768px){
      margin-left: 0;
      width: 335px;
      height: 255px;
    }
    
  }
}

// FIN DU CART
