@import '../../styles/global.scss';

.tags {
   display: flex;
   h2 {
    height: 25px;
    gap: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    background-color: $primary;
    padding: 4px 10px 2px 10px;
    border-radius: 10px;
    margin: 2px;
   }
}



