@import '../../styles/global.scss';

.tags {
   display: flex;
   p {
    height: 25px;
    gap: 10px;
    color: white;
    background-color: $primary;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 2px;
   }
}



