@import '../../styles/global.scss';

.tags {
   display: flex;
   flex-wrap: wrap;

   p {
    display: inline-block;
    background-color: $primary;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 2px;
   }
}



