// Constantes
$primary: #FF6060;

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat;
}
// HEADER
.header {
  width: 100%;
  height: 68px;
  display: flex;
  padding: 45px 20px 55px 0;

  .logo {
    display: flex;
    justify-content: flex-start; 
    width: 25%;
    margin-left: 40px;

    @media (max-width: 560px) {
      width: 145px;
      height: 46px;
    }
  }


  
  .nav {
    display: flex;
    justify-content: flex-end; 
    color: $primary;
    width: 70%;
    gap: 3%;

    .accueil,
    .aPropos {
      font-size: 24px;
      

      &:hover {
        text-decoration: underline $primary;
        cursor: pointer;
      }

      @media (max-width: 560px) {
        font-size: 12px;
      }
    }
  }
}
// FIN DU HEADER

//CART
.backgroundCart {
  background-color: #F6F6F6;
  width: 90%;
  height: 0 auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 56px 0 56px 0;

  .cart{
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: rgb(128,43,43);
    background: -moz-linear-gradient(0deg, rgba(128,43,43,1) 0%, rgba(255,96,96,1) 31%);
    background: -webkit-linear-gradient(0deg, rgba(128,43,43,1) 0%, rgba(255,96,96,1) 31%);
    background: linear-gradient(0deg, rgba(128,43,43,1) 0%, rgba(255,96,96,1) 31%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#802b2b",endColorstr="#ff6060",GradientType=1);
    
  }

  img{
    width: 300px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
  }

  h2{
    font-size: 16px;
    width: 55%;
    height: 0 auto;
    color: white;
    text-align: left;
    margin-left: 22px;
  }
}
// FIN DU CART

// LOGEMENTS
.logement {
  h1{
    font-size: 36px;
  }
}


// FIN LOGEMENTS



//FOOTER
.logoFooter{
  width: 100%;
  height: 180px;
  background-color: black;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;


  img{
    margin-top: 65px;

  }

  p{
    font-size: 24px;
    color: white;
    margin-top: 35px;

    @media (max-width: 560px) {
      font-size: 12px;
    }

  }
}

//FIN du FOOTER


//PAGE ERREUR 
section {
  color: $primary;
  text-align: center;

  h1{
    font-size: 255px;
    margin-bottom: 135px;

    @media (max-width: 560px) {
      font-size: 96px;
    }

  }

  h2{
    font-size: 36px;
    margin-bottom: 135px;

    @media (max-width: 560px) {
      font-size: 18px;
    }

  }

  span {
    font-size: 26px;

    &:hover {
      text-decoration: underline $primary;
      cursor: pointer;
    }

    @media (max-width: 560px) {
      font-size: 14px;
    }

  }
}
//FIN DE LA PAGE D'ERREUR