@import "../../styles/global.scss";

.banner {
  display: flex;
  justify-content: center;

.homePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background: rgba(0, 0, 0, 0.4) url("../../assets/photo_accueil.png");
  background-blend-mode: darken; 
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  height: 223px;
  margin-bottom: 38px;

  p {
    display: flex;
    align-items: center;
    font-size: 48px;
    color: white;
    
    
   

    @media (max-width: 560px) {
      font-size: 24px;
    }
  }
}
}