@import "../../styles/global.scss";


.hostNamePicture {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 25px;
}
.hostName {
	width: 100px;
	margin-right: 6px;
	p {
		font-size: 18px;
		text-align: end;
		color: $primary;
		@media (max-width: 768px){
			font-size: 12px;
			text-align: end;
		}
	}
}
.hostPicture {
	height: 64px;
	width: 64px;
	img {
		align-items: center;
		height: 64px;
		width: 64px;
		border-radius: 50%;
		@media (max-width: 768px){
			height: 32px;
			width: 32px;
		}
	}
}

