@import '../../styles/global.scss';

// HEADER
.header {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    margin-top:35px;
  
    .logo {
      display: flex;
      justify-content: flex-start;
    
      img{
        width: 100%;
      }
    }
  
    .nav {
      display: flex;
      justify-content: flex-end;
      color: $primary;
      width: 85%;
      gap: 5%;
      padding-right: 10px;
  
      a {
        color: $primary;
        font-size: 16px;

  
        &:hover {
          text-decoration: underline $primary;
          cursor: pointer;
        }
      }
    }
  }
  // FIN DU HEADER

  