@import '../../styles/global.scss';

.carrousel{
    width: 100%;
    margin-top: 20px;
    
}

.carteImageCarrousel{
    width: 100%;
    height: 415px;
    background-position: center;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
}

.partPrev{
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.counterImage{
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    font-size: 18px;
    width: 4%;
}

.partNext{
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.slide{
    display: none;
}

.slide > active{
    display: block;
}

.carteImageCarrousel i{
    font-size: 80px;
    color: white;
}

/* Version mobile */

@media screen and (max-width: 767px){

    .carteImageCarrousel{
        height: 255px;
        border-radius: 10px;
    }

    .carteImageCarrousel i{
        font-size: 20px;
    }

    .partNext{
        margin-right: 6px;
    }
    
    .partPrev{
        margin-left: 6px;
    }

    .counterImage{
        display: none;
    }

}


