@import '../../styles/global.scss';

//FOOTER
.footer {
  width: 100%;
}
.logoFooter {
  width: 100%;
  height: 180px;
  background-color: black;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;
  @media (max-width: 768px){
    margin-top: 20px;
  }

  img {
    margin-top: 65px;
  }

  p {
    font-size: 24px;
    color: white;
    margin-top: 35px;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}

//FIN du FOOTER