@import '../../styles/global.scss';

//FOOTER
.logoFooter {
    width: 100%;
    height: 180px;
    background-color: black;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
  
    img {
      margin-top: 65px;
    }
  
    p {
      font-size: 24px;
      color: white;
      margin-top: 35px;
  
      @media (max-width: 560px) {
        font-size: 12px;
      }
    }
  }
  
  //FIN du FOOTER
  