@import "../../styles/global.scss";

// LOGEMENTS
.logement {
  @media (max-width: 768px) {
    margin: 0 15px 0 15px;
  }

  .dropdown {
    width: 48%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .allDropdown {
    align-items: center;
    gap: 4%;
    margin: 35px 0 60px 0;
    align-items: first baseline;
    @include wrap-flex;

    @media (max-width: 768px) {
      flex-direction: column;
      margin: 15px 0 20px 0;
    }
  }
}

.upBlock {
  width: 100%;
  flex-direction: row;
  @include wrap-flex;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }




  .titleLoc {
    display: flex;
    width: 65%;
    justify-content: flex-start;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 66%;
    }

    h1 {
      font-size: 36px;
      text-align: left;
      margin-bottom: 0;
      width: 100%;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    p {
      font-size: 18px;
      text-align: left;
      width: 100%;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .host {
    justify-content: flex-end;

    .hostName {
      flex-wrap: wrap;
      justify-content: flex-end;
    }

      @media (max-width: 768px) {
      order:2;
    }
  }

  .rating {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21px;
    
    @media (max-width: 768px) {
      justify-content: flex-start;
      order:1;
    }
  }

}

// FIN LOGEMENTS