@import "../../styles/global.scss";

// LOGEMENTS
.logement {
  @media (max-width: 768px) {
    margin: 0 15px 0 15px;
  }

  .dropdown {
    width: 48%;

    @media (max-width: 768px) {
      width: 90%;
    }
  }

  .allDropdown {
    align-items: center;
    gap: 4%;
    margin: 35px 0 60px 0;
    @include wrap-flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.upBlock {
  width: 100%;
  flex-direction: row;
  @include wrap-flex;

  .titleLoc {
    display: flex;
    width: 65%;
    justify-content: flex-start;
    flex-direction: column;

    h1 {
      font-size: 36px;
      text-align: left;
      margin-bottom: 0;
      width: 100%;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    p {
      font-size: 18px;
      text-align: left;
      width: 100%;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .host {
    justify-content: flex-end;
    .hostName {
    flex-wrap: wrap;
    justify-content: flex-end;
    }
  }

  .rating {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21px;
  }

}

// FIN LOGEMENTS