@import '../../styles/global.scss';

//PAGE ERREUR
section {
    color: $primary;
    text-align: center;
  
    h1 {
      font-size: 255px;
      margin-bottom: 135px;
  
      @media (max-width: 768px) {
        font-size: 96px;
        margin-bottom: 113px;
      }
    }
  
    h2 {
      font-size: 36px;
      margin-bottom: 135px;
  
      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 113px;
      }
    }
  
    .accueil {
      font-size: 18px;
      color: $primary;
  
      &:hover {
        text-decoration: underline $primary;
        cursor: pointer;
      }
  
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
  //FIN DE LA PAGE D'ERREUR
  